<?xml version="1.0" encoding="UTF-8"?>
<Export generator="IRIS" version="26">
<Document name="isc.json.ZPM">
    <Module>
      <Name>isc.json</Name>
      <Version>1.0.0+snapshot</Version>
      <Packaging>module</Packaging>
      <Dependencies>
      </Dependencies>
      <Resources><Resource Name="pkg.isc.json.lifecycle.CLS" Preload="true" />
        <Resource Name="%pkg.isc.json.PKG"></Resource>
        <Resource Name="%pkg.isc.json.map.INC"></Resource>
        <Resource Name="/internal/testing/unit_tests/">
          <!-- Sneaky way to avoid running tests multiple times. -->
          <Attribute Name="Phase">test</Attribute>
          <Attribute Name="Package">UnitTest.isc.json</Attribute>
        </Resource>
      </Resources>
      <LifecycleClass>pkg.isc.json.lifecycle</LifecycleClass>
      <Defaults>
        <ProcessorDefault Class="Default.Class">
          <Attribute Name="FilenameExtension">cls</Attribute>
          <Attribute Name="Format">UDL</Attribute>
        </ProcessorDefault>
        <ProcessorDefault Class="Default.Include">
          <Attribute Name="Format">UDL</Attribute>
        </ProcessorDefault>
        <ProcessorDefault Class="Default.Package">
          <Attribute Name="FilenameExtension">cls</Attribute>
          <Attribute Name="Format">UDL</Attribute>
        </ProcessorDefault>
        <ProcessorDefault Class="UnitTest">
          <Attribute Name="Format">UDL</Attribute>
        </ProcessorDefault>
      </Defaults>
    </Module>
  </Document></Export>
