<?xml version="1.0" encoding="UTF-8"?><Export generator="IRIS" version="26">
  <Document name="isc.json.ZPM">
    <Module>
      <Name>isc.json</Name>
      <Version>3.5.0</Version>
      <Author>
        <Organization>InterSystems Corporation</Organization>
        <Person>AppServices</Person>
      </Author>
      <Packaging>module</Packaging>
      <Resources>
        <Resource Name="pkg.isc.json.lifecycle.CLS" Preload="true" />
        <Resource Name="%pkg.isc.json.PKG"/>
        <Resource Name="%pkg.isc.json.map.INC"/>
      </Resources>
      <Mappings>
        <Mapping Name="%pkg.isc.json.PKG" Source="{$namespaceRoutineDB}"/>
      </Mappings>
      <LifecycleClass>pkg.isc.json.lifecycle</LifecycleClass>
      <Defaults>
        <ProcessorDefault Class="Default.Class">
          <Attribute Name="FilenameExtension">cls</Attribute>
          <Attribute Name="Format">UDL</Attribute>
        </ProcessorDefault>
        <ProcessorDefault Class="Default.Include">
          <Attribute Name="Format">UDL</Attribute>
        </ProcessorDefault>
        <ProcessorDefault Class="Default.Package">
          <Attribute Name="FilenameExtension">cls</Attribute>
          <Attribute Name="Format">UDL</Attribute>
        </ProcessorDefault>
        <ProcessorDefault Class="UnitTest">
          <Attribute Name="Format">UDL</Attribute>
        </ProcessorDefault>
      </Defaults>
    </Module>
  </Document>
</Export>